<tr class="sch-schedule-table__tr">
  <td class="sch-schedule-table__td name-cell">
    <h3><span class="sch-schedule-table__name"><a href="https://www.ufs-online.ru/raspisanie-poezdov/train-001%D0%90" class="sch-schedule-table__name-link">001А</a></span></h3>
    <div class="sch-visible-tablet">
      <div>Санкт-Петербург (Московский вокзал)
        <!-- -->—
        <!-- -->Москва (Ленинградский вокзал)</div><small><a target="_blank" rel="noopener noreferrer" href="https://www.ufs-online.ru/kupit-zhd-bilety/route-001%D0%90" class="sch-schedule-table__link">Маршрут</a></small></div>
  </td>
  <td class="sch-schedule-table__td sch-invisible-tablet">
    <div>Санкт-Петербург (Московский вокзал)
      <!-- -->—
      <!-- -->Москва (Ленинградский вокзал)</div><small><a target="_blank" rel="noopener noreferrer" href="https://www.ufs-online.ru/kupit-zhd-bilety/route-001%D0%90" class="sch-schedule-table__link">Маршрут</a></small></td>
  <td class="sch-schedule-table__td">
    <div class="sch-schedule-table__time"><span class="sch-schedule-table__cell-label">Прибытие</span><span class="sch-schedule-table__number">07:55</span></div>
  </td>
  <td class="sch-schedule-table__td">
    <div class="sch-schedule-table__time"><span class="sch-schedule-table__cell-label">Отправление</span></div>
  </td>
  <td class="sch-schedule-table__td"><small>круглогодично ежедневно</small></td>
  <td class="sch-schedule-table__td">
    <button class="sch-button sch-button_small js-select-date">Выбрать дату</button>
  </td>
</tr>